<div class="flex flex-col lg:flex-row justify-center items-center mt-3 mx-auto w-5/6 lg:mx-auto lg:w-2/3">
    <!-- Mobile view -->
    <div class="flex justify-center items-center mx-auto card h-32 w-64 bg-accent-content rounded-lg lg:hidden">
        <div class="flex justify-center items-center">
            <div class="text-[6rem] mr-3">{{this.scoreService.whiteScoreSignal()}}</div>
            <div class="text-[6rem]">:</div>
            <div class="text-[6rem] ml-3">{{this.scoreService.blackScoreSignal()}}</div>
        </div>
    </div>

    <!-- Image container -->
    <div class="flex justify-center items-center">
        <!-- Mobile view -->
        <div class="lg:hidden">
            <img src="../assets/images/Sprite-0003.png" class="transform rotate-90 ...">
        </div>
    </div>

    <!-- Desktop view -->
    <div class="hidden lg:flex items-center justify-center "> 
        <div class="flex items-center space-x-[6rem]"> 
            <div class="card h-32 w-64 bg-accent-content flex justify-center items-center text-[11rem]">{{this.scoreService.whiteScoreSignal()}}</div>
            <img src="../assets/images/Sprite-0003.png" class="rotate-90 h-full" alt="Your Image">
            <div class="card h-32 w-64 bg-accent-content flex justify-center items-center text-[11rem]">{{this.scoreService.blackScoreSignal()}}</div>
        </div>
    </div>
</div>

    <div class="text-[2.5rem] lg:text-[4rem] text-red-800 flex justify-center mb-[1rem] lg:mb-[3rem] custom-font" *ngIf="rankedSignal() === 'ranked'; else hiddenContent">ranked</div>
        <ng-template #hiddenContent>
        <div class="hidden lg:hidden">
         </div>
        </ng-template>

<!-- Player names -->
<div class="flex w-full my-auto lg:justify-center items-center text-[1.2rem]">
    <div class="grid h-20 flex-grow card bg-accent-content rounded-box place-items-center ml-7 lg:ml-9 "> <!-- Added mx-4 for left and right margin -->
        <div class="flex">{{player1.firstname}} {{player1.lastname}}<div class="text-orange-400">&nbsp;&nbsp;{{player1.score}}</div></div>
        <div class="flex">{{player2.firstname}} {{player2.lastname}} <div class="text-orange-400">&nbsp;&nbsp;{{player2.score}}</div></div>
    </div>
    <div class="divider divider-horizontal divider-warning">VS</div> <!-- Spacer for mobile view -->
    <div class="grid h-20 flex-grow card bg-accent-content rounded-box place-items-center mr-7 lg:mr-9"> <!-- Added mx-4 for left and right margin -->
        <div class="flex">{{player3.firstname}} {{player3.lastname}} <div class="text-orange-400">&nbsp;&nbsp;{{player3.score}}</div></div>
        <div class="flex">{{player4.firstname}} {{player4.lastname}} <div class="text-orange-400">&nbsp;&nbsp;{{player4.score}}</div></div>
    </div>
</div>
