<div class="nav flex justify-between items-center mt-3 mx-auto w-5/6 lg:mx-auto lg:w-2/5">
    <div class="text-[2rem] lg:text-[2.5rem]">game</div>
    <div class="text-[2rem] text-orange-400 lg:text-[3rem]">|</div>
    <div class="text-[2rem] lg:text-[2.5rem]">score</div>
    <div class="text-[2rem] text-orange-400 lg:text-[3rem]">|</div>
    <div class="text-[2rem] lg:text-[2.5rem]">stats</div>
</div>

<div class="flex flex-col lg:flex-row justify-center items-center">
    <div class="text-[6rem] lg:text-[12rem] lg:mr-20">8</div>
    <img src="../assets/images/Sprite-0003.png" class="transform rotate-90 ...">
    <div class="text-[6rem] lg:text-[12rem] lg:ml-20">6</div>
</div>

<router-outlet></router-outlet>