adafruit-ampy==1.0.7
argcomplete==3.5.1
bitarray==2.9.3
bitstring==4.2.3
cffi==1.15.1
click==8.1.7
cryptography==43.0.3
docopt==0.6.2
ecdsa==0.19.0
esptool==4.8.1
intelhex==2.3.0
mip==1.15.0
mpremote==1.24.0
pycparser==2.22
pyserial==3.5
python-dotenv==1.0.1
PyYAML==6.0.2
reedsolo==1.7.0
six==1.16.0
uflash==1.2.4
