<div class="nav flex flex-col justify-center lg:justify-between items-center mt-3 mx-auto lg:w-2/5">
    <nav>
        <ul class="flex items-center">
            <li class="mr-3">
                <a routerLink="/" routerLinkActive="active" class="text-[2rem] lg:text-[2.5rem]">games</a>
            </li>
            <li class="mr-3">
                <span class="text-orange-400 text-[2rem] lg:text-[2.5rem]">|</span>
            </li>
            <li class="mr-3">
                <a routerLink="/score" routerLinkActive="active" class="text-[2rem] lg:text-[2.5rem]">score</a>
            </li>
            <li class="mr-3">
                <span class="text-orange-400 text-[2rem] lg:text-[2.5rem]">|</span>
            </li>
            <li class="text-[2rem] lg:text-[2.5rem]">stats</li>
        </ul>
    </nav>
</div>
