<div class="grid-layout">
  <div class="card card-compact w-64 md:w-80  shadow-xl mt-4 md:mt-8 mx-auto bg-accent-content">
    <figure><img src="../assets/images/fun_table{{random}}.png" alt="table" class="mx-auto w-full"></figure>
    <div class="card-body grid grid-cols-3 gap-x-4 items-center mt-1">
      <div class="flex flex-col justify-center pl-2 lg:pl-8 text-[1.1rem]">
        <p class="mb-1">player1</p>
        <p class="mt-0">player2</p>
      </div>
      <p class="col-span-1 text-center text-[3rem]">{{this.gameService.whiteScoreSignal()}}:{{this.gameService.blackScoreSignal()}}</p>
      <div class="flex flex-col justify-center pr-4 text-[1.1rem]">
        <p class="mb-1">player3</p>
        <p class="mt-0">player4</p>
      </div>
    </div>
    <div class="card-actions justify-center m-3" *ngIf="tableId">
      <button class="btn btn-wide w-5/6 items-center btn-primary text-[1.25rem] btn-outline"
        [routerLink]="['/game', tableId]">View</button>
    </div>
  </div>
</div>