<div class="grid-layout">
    <div class="card card-compact w-64 md:w-80 bg-base-100 shadow-xl mt-4 md:mt-8 mx-auto">
      <figure><img src="../assets/images/fun_table{{random}}.png" alt="table" class="mx-auto w-full"></figure>
      <div class="card-body grid grid-cols-3 gap-x-4 items-center">
        <div class="flex flex-col justify-center pl-2 lg:pl-8 text-[1rem]">
          <p class="mb-1">player1</p>
          <p class="mt-0">player2</p>
        </div>
        <p class="col-span-1 text-center text-[3rem]">8:6</p>
        <div class="flex flex-col justify-center pr-4 text-[1rem]">
          <p class="mb-1">player3</p>
          <p class="mt-0">player4</p>
        </div>
      </div>
      <div class="card-actions justify-end m-3">
        <button class="btn btn-primary" [routerLink]="['/game', game1.id]">View</button>
      </div>
    </div>
  </div>
  